html {
    background-color: #B51A3A;

    text-align: center;
}

.introText {
    font-family: 'Pacifico', cursive;
    color: #ffcf00;

    font-size: 5vw;

    cursor: pointer;

    -webkit-transition: all 0.3s;
    /* Safari */
    transition: all 0.3s;
}
    .introText:hover {
        color: #fff500;
    }

#card-box {
    width: 47.5vw;
    height: 60vh;

    margin-left: 26.25vw;

    display: flex;

    text-align: center;
}
    .left-half {
        width: 50%;
        height: 100%;
        background-color: #E4CDD3;

        z-index: 1;

        transform: translateX(50%);

        -webkit-transition: all 0.3s;
        /* Safari */
        transition: all 0.3s;

        cursor: pointer;

        transform-origin: top middle;
    }
        .box-interior {
            box-sizing: border-box;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;

            width: 100%;
            height: 100%;
            border-style: solid;
            border-width: 0.85vw;
            border-color: #ffcf00;
            background-color: #E4CDD3;
        }
        .top-box {
            width: 100%;
            height: 50%;
        }
            .front-heart {
                height: 50%;
                padding-top: 15%;

                -webkit-transition: all 0.3s;
                /* Safari */
                transition: all 0.3s;
            }
            .left-half:hover .front-heart {
                height: 60%;
                padding-top: 10%;
            }
        .bottom-box {
            width: 100%;
            height: 50%;
        }
            .front-bottom-text {
                font-family: 'Permanent Marker', cursive;
                font-size: 2vw;
                color: #E24767;

                -webkit-transition: all 0.3s;
                /* Safari */
                transition: all 0.3s;
            }
            .left-half:hover .front-bottom-text {
                font-size: 2.25vw;

                color: #f9476c;
            }


    .right-half {
        width: 50%;
        height: 100%;
        background-color: red;

        z-index: -1;
        -webkit-transition: all 0.3s;
        /* Safari */
        transition: all 0.3s;

        transform-origin: top middle;
        transform: translateX(-50%);
    }
        .right-paragraph {
            font-family: 'Permanent Marker', cursive;
            font-size: 1.75vw;
            color: #E24767;
        }

    .open-card-left {
       -webkit-transform: rotate3d(0, 1, 0, 180deg);
       transform: rotate3d(0, 1, 0, 180deg);
    }

    .open-card-right {
       -webkit-transform: rotate3d(0, 1, 0, -180deg);
       transform: rotate3d(0, 1, 0, -180deg);
    }

    .flip-text {
        -webkit-transform: rotate3d(0, 1, 0, -180deg);
        transform: rotate3d(0, 1, 0, -180deg);
    }
}
